/* theme.css */

  
  h1, h2, h3, h4, h5, h6 {
    color: #ff6600; /* Orange color for headings */
  }
  

  
  button:hover {
    background-color: #cc5200; /* Darker orange on hover */
  }
  
  main{
    background-color: #212529;
    
  }
  .lead{
    color: #ff6600;
  }

  .gap-custom{
    gap: 18px;
  }

  .album{
    background-color: whitesmoke;
  }